{
  "irc": {
    "host": "irc.example.com",
    "port": 6669,
    "ssl": false,
    "nick": "leczair",
    "channel": "#channel"
  },
  "behaviour": {
    "command_prefix": "@"
  },
  "plugins": [
    "test"
  ],
  "admins": [
    "nick!~user@example.com"
  ]
}


